# --- Pastas de Build e Dependências (Essencial) ---
**/target/
**/node_modules/
**/.angular/
**/dist/
**/build/

# --- Java / Maven ---
.mvn/
**/mvnw
**/mvnw.cmd
**/.mvn/wrapper/maven-wrapper.jar
*.log

# --- IDEs (VS Code, IntelliJ, STS) ---
.vscode/
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# --- Docker & Ambiente ---
.env
**/pgdata/

# --- Sistema ---
Thumbs.db
npm-debug.log*